/* Placeholder
 -------------------------- */
.pk-dropdown-content:before, .pk-dropdown, .c-list li:nth-child(2):after {
  position: absolute;
}

.pk-dropdown-content, .c-list li:nth-child(2) {
  position: relative;
}

.pk-dropdown, .c-list li:nth-child(2):after {
  box-sizing: border-box;
}

.c-list li:nth-child(2):after {
  pointer-events: none;
}

.c-list li:nth-child(3) {
  color: #999;
}

.c-list li:nth-child(2):after {
  content: " ";
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #d9d9d9;
  transform: scale(0.5);
}

.c-list li:nth-child(2):after {
  border-bottom-width: 1px;
}

/* Placeholder
 -------------------------- */
.pk-dropdown-content:before, .pk-dropdown, .c-list li:nth-child(2):after {
  position: absolute;
}

.pk-dropdown-content, .c-list li:nth-child(2) {
  position: relative;
}

.pk-dropdown, .c-list li:nth-child(2):after {
  box-sizing: border-box;
}

.c-list li:nth-child(2):after {
  pointer-events: none;
}

.c-list li:nth-child(3) {
  color: #999;
}

html {
  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}

form {
  display: inline;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

img {
  vertical-align: top;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
select,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

.pk-button-waring {
  color: red;
}

.pk-button-waring {
  color: red;
}

.pk-dropdown {
  z-index: 1030;
}
.pk-dropdown-content {
  min-width: 160px;
  background-color: #202931;
  border-radius: 6px;
  padding: 10px 0;
  box-shadow: 1px 10px 20px rgba(32, 41, 49, 0.5);
}
.pk-dropdown-content:before {
  content: "";
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  border-color: transparent;
}

.pk-dropdown-placement {
  position: relative;
}
.pk-dropdown-placement-topLeft {
  animation-duration: 0.3s;
}
.pk-dropdown-content:before {
  top: auto;
  right: auto;
  bottom: -14px;
  left: 16px;
}

.pk-dropdown-placement-topLeft .pk-dropdown-content:before {
  border-top-color: #202931;
}

.c-list {
  background-color: #fee;
}
.c-list li:nth-child(1) {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #f00;
}
.c-list li:nth-child(4) {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.c-list li:nth-child(6) {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*# sourceMappingURL=index.css.map */
